# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
dist/
build/
*.egg

# PyCharm
.idea/
*.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
VolumeIcon.icns

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.log
nosetests.xml
coverage.xml
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/

# Other
*.swp
*.swo
*.swn
*.tmp
*.temp